%br
  %br
    %br
    %h2 Comments
    - @book.comments.each do |comment|
      .comment.box.d-flex
        %strong=comment.commenter.to_s + ": "
        %p.ms-2=comment.body
      - if current_user.present?
        %div.text-end
          =link_to "Delete Comment", [comment.book, comment], method: "delete", data: { confirm: "Are you sure?" },
          class: 'btn btn-outline-warning'
          =link_to "Edit Comment", edit_book_comment_path(comment.book, comment), class: "btn btn-outline-warning"