- if current_user.present?

  %h1 Edit Comment
  =form_with model: [@book, @book.comments.build] do |form|
    %div
      =form.label :body, class: 'form-label'
      %br
      =form.text_area :body, class: 'form-control', row: 5
    %div
      %br
      =form.submit "Edit Comment", class: "btn btn-outline-success"